{% extends "base.html" %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navbar-example">
    <main>
      <div class="container ms-auto py-5">
        <h3> <a href="{% url 'formvalidation' %}">Add</a></h3>
        <table class="table table-bordered px-2 table-striped">
          <thead class="text-center fs-3">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Image</th>
              <th scope="col">Details</th>
              <th scope="col">Actions</th>
             
            </tr>
          </thead>
          <tbody class="fs-5">
            {% for product in products %}
            <tr>
              <td>{{ product.id }}</td>
              <td>{{ product.title }}</td>
              <td>
                <img
                  width="120px"
                  height="80px"
                  src="/media/{{ product.image }}"
                />
              </td>
              <td>
                <a href="{% url 'productDetail' product.id %}">show details</a> 
                
              </td>
              
              <td>
                <a href="{% url 'addproduct' %}">ADD</a>
                <a href="{% url 'deleteproduct' product.id %}">Delete</a>
                <a href="{% url 'updateproduct' product.id %}">update</a>
              </td>

            </tr>
            {% endfor %} 
          </tbody>
        </table>
      </div>
    </main>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>

{% endblock %}
